/*all setting*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

/*header*/

#logo {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    padding: 0 5rem
}

#logo img {
    height: 100%;
}

#logo p {
    font-size: 3rem;
    margin-left: 3rem;
}

/*main*/

main {
    position: fixed;
    top: 15%;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url('../images/pink1.jpg');
    background-size: cover;

}

/*missed-her*/

#missed-her {
    margin: 3rem 14rem;
    width: 30%;
}

#missed-her img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

/*sharks*/

#sharks {
    background-color: white;
    border-radius: 30px;
    padding-left: 1rem;
    margin: 3rem 14rem 3rem 0;
    width: 35%;
    overflow-y: scroll;
}

#sharks::-webkit-scrollbar {
    display: none;
}

/*footer*/

footer {
    background-color: rgb(244, 212, 218);
    color: white;
    position: fixed;
    bottom: 0;
    padding-left: 1rem;
    line-height: .2rem;
    width: 100%;
    height: 5%;
}
